/* form {
    max-width: 500px;
    margin: 50px auto;
} */
#notInGame a{
    font-size: 15px;
    display: inline-block;
    padding: 20px;
}

 input {

    color:white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    border-radius: 10px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid black;
    transition: width 0.3s;
    padding: 8;
    margin-bottom: 10;
    width: 100%;
    box-sizing: border-box;
}


input:focus {
    border: 4px  #401ffc;
}  

[type="submit"], [type="cancel"] ,[type="alredyUser"] {
    font-family: sans-serif;
    width: 30%;
    background: black;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 15px;
    transition: all 0.3s;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 7px;
    border:2px solid yellow;

}
[type="button"]{
    display: inline-block;
    width: 20%;
    cursor: pointer;
    color: white;
    padding: 10px;
    border:2px solid yellow;
    

}

input:hover{
    background: rgb(119, 118, 118);
}
#welcomeScreen{
    text-align: center;
}
#loggedInScreen{
    text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    position: relative;
    width: 58%;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    overflow: auto;
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    
  }
  .modal-content input[type=email], input[type=date], input[type=password], input[type=text]{
    width:100%;
    text-align:left;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
label.error {
	display: inline;
	color: rgb(167, 0, 0);
  font-weight: bold;
  padding-top: 1px;
  width: auto;
  background-repeat:no-repeat;
  display: block;
	width: auto;

}


body{
    background:#222;
    color:#ddd;
    font-family:Exo;
    text-shadow:0 -1px 0 #000;
}
.wrapper{
    max-width:600px;
    padding:0 20px;
    margin:0 auto;
}
.pacman-holder{
    position:relative;
    width:200px;
    margin:100px auto;
}
.pacman-container {
    display:block;
    width:100px;
    height: 100px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -moz-animation: bite 0.5s linear infinite; 
    -webkit-animation: bite 0.5s linear infinite; 
    animation: bite 0.5s linear infinite;
}
.pacman-body {
    background-color: #ff0;
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}
.dot {
    background-color: #fff;
    position: absolute;
    z-index:0;
    top:40px;
    left:200px;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -moz-animation: movedot 0.5s linear infinite;
    -webkit-animation: movedot 0.5s linear infinite;
    animation: movedot 0.5s linear infinite;
    -moz-animation-delay:0.2s; 
    -webkit-animation-delay:0.2s; 
    animation-delay:0.2s;
}
.pacman {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 50px, 100px, 0px);
    z-index:2;
}
.pacman-mouth {
    position: absolute;
    left:2px;
    width: 102px;
    height: 102px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 100px, 100px, 52px);
}

.pacman-mouth .pacman {
    background-color: #222;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    -moz-animation: munch 0.5s linear infinite; 
    -webkit-animation: munch 0.5s linear infinite; 
    animation: munch 0.5s linear infinite;

    /* To fix a yellow border on pacman's mouth */
    border: 3px solid #222;
}

.pacman-holder.moving{
    width:100px;
    -moz-animation: move 2.7s linear infinite;
    -webkit-animation: move 2.7s linear infinite;
    animation: move 2.7s linear infinite;
}

.pacman-holder.moving .dot{
    -moz-animation: movedot 1s linear infinite; 
    -webkit-animation: movedot 1s linear infinite;
    animation: movedot 1s linear infinite;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}

@-moz-keyframes munch 
{
    0% {
         -moz-transform:rotate(90deg);
    }
    50% {
         -moz-transform:rotate(0deg);
    }
    100% {
         -moz-transform:rotate(90deg);
    }
}
@-webkit-keyframes munch 
{
    0% {
         -webkit-transform:rotate(90deg);
    }
    50% {
         -webkit-transform:rotate(0deg);
    }
    100% {
         -webkit-transform:rotate(90deg);
    }
}
@keyframes munch
{
    0% {
         transform:rotate(90deg);
    }
    50% {
         transform:rotate(0deg);
    }
    100% {
         transform:rotate(90deg);
    }
}

@-moz-keyframes bite 
{
    0% {
         -moz-transform:rotate(45deg);
    }
    50% {
         -moz-transform:rotate(90deg);
    }
    100% {
         -moz-transform:rotate(45deg);
    }
}
@-webkit-keyframes bite 
{
    0% {
         -webkit-transform:rotate(45deg);
    }
    50% {
         -webkit-transform:rotate(90deg);
    }
    100% {
         -webkit-transform:rotate(45deg);
    }
}
@keyframes bite
{
    0% {
         transform:rotate(45deg);
    }
    50% {
         transform:rotate(90deg);
    }
    100% {
         transform:rotate(45deg);
    }
}

@-webkit-keyframes movedot 
{
    0% {
         left:200px;
    }
    100% {
         left:50px;
    }
}     
@-moz-keyframes movedot 
{
    0% {
         left:200px;
    }
    100% {
         left:50px;
    }
}
@keyframes movedot 
{
    0% {
         left:200px;
    }
    100% {
         left:50px;
    }
}

@-webkit-keyframes move
{
   0% {
        -webkit-transform: scaleX(1);         
        left:0px;
   }

   49.999% {
        left:200px;
        -webkit-transform: scaleX(1);
   }
   50%{
      -webkit-transform: scaleX(-1);
 }

 100% {
   left:0px;
   -webkit-transform: scaleX(-1);     
  }        
}
@-moz-keyframes move
{
   0% {
        -moz-transform: scaleX(1);               
        left:0px;
   }

   49.999% {
        left:200px;
        -moz-transform: scaleX(1);
   }
   50%{
      -moz-transform: scaleX(-1);
   }

 100% {
   left:0px;
   -moz-transform: scaleX(-1);          
  }   
}
@keyframes move
   {
        0% {
             transform: scaleX(1);           
             left:0px;
        }

        49.999% {
             left:200px;
             transform: scaleX(1);
        }
        50%{
          transform: scaleX(-1);
     }

     100% {
        left:0px;
        transform: scaleX(-1);     
   }          
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: white;
}
.s_title{
    font-size: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: yellow;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  .chooseKey {
    width: 120px;   
    
    text-align: center;
  }
  .colorsPick{
      top:300px;
      margin-left: 700px;
      position: absolute;
      
  }
  
  [type="color"]{
      width: 40%;

  }
p{
    font-size: 10px;
}
#ids{
    margin-left: 200px;
    position: fixed;
}
.footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: black;
    text-align: center;
}
